html{
    scroll-behavior: smooth;
}

body{
    margin: 0%; /*to ensure site displays alll the way to the edge of the screen*/
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: 0.2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /*prevent horizontal bar from appearing than quote is hovered over*/
    user-select: none; /*prevent a text on the webpage from being highlighted per user*/
    
}

body.fade-out{
    opacity: 0.1; /*at start of page loading it will have 0.1 opacity*/
}

/*heading 1 element*/
h1{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3%; /*small margin above h1 elements*/
    color: black;
}

h1:hover{
    filter: brightness(105%); /*makes h1 a little bit more bright than hover*/
    transform: scale(1.15);
    transition: transform 1s;
}

/*end of heading 1 element styling*/

/*Portfolio title text styling*/
.white-text{
    color: beige;
    padding-top: 10vh;/*prevents text from hovering other elements*/
}

/*paragraph styling*/
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    letter-spacing: 0.1vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vw;
}

p:hover{
    transition: transform 1s;
    transform: scale(1.03);
}

/*End of paragraph styling*/

/*Center text styling (quotes, github, footer*/
.center{
    text-align: center;
}

.center:hover{
    transition: transform 1.5s;
    transform: scale(1.03);
}
/* end of center text styling*/

/*Anchor elements styling*/
a{
    color: blue; /*all links are blue*/
    cursor: pointer;
    text-decoration: underline;
}

/*quotation styling*/
q{
    font-style: italic;
    font-weight: bold;
}

/*Image styling*/

img{
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

img:hover{
    animation-name: imgAnim;
    animation-duration: 1.5s;
}

@keyframes imgAnim {
    from{filter: grayscale(75%);}
    to{filter: grayscale(5%);}
}

/*Media rule is used to ensure accurate display on different types of devices*/
@media screen and (max-width:576px){
    img{
        height: 100px;
        margin-top: 150px;
    }
}

/*footer styling*/
footer{
    background-color: #A0B57D;
    padding: 2%;
    padding-top: 5vw;
}

/*End of general styling*/

/*Navbar styling*/

.navbar{
    overflow: hidden;/*nothing can be on the top of navbar*/
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}
/*for animation effect on the navbar*/
@keyframes moveNav {
    from{left: -100vw;}
    to{left: 0vw;}
}

.navbar a{
    float: left;
    display: block;
    color: whitesmoke;
    padding: 0.75vw 1vw;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

@keyframes moveNavText {
    from{top: -100vw;}
    to {top: 0vw;}
}

/* for smaller navbar links on small display devices*/
@media  screen and (max-width: 576px) {
    .navbar a{
        width: 25%;
        font-size: 12px;
    }
}

/*Navbar hover styling*/

.navbar a:hover{
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in; /*create smooth transition*/
}

/*navbar home buttom*/

.navbar a.active{
    background-color: darkgray;
}

/*Video styling*/

#Hacker_video {
    position: fixed;
    right: 0; /*no space on the right a bottom*/
    bottom: 0;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%; 
    z-index: -1; /* to place video behind all elements*/
}

@media  screen and (max-width: 576px) {
    #Hacker_video{
        display: none;
    }
}

/*for styling text on the video*/
.Video_text {
    background: rgba(0,0,0,0.5);
    color: whitesmoke;
    width: 100%;
    height: 45vw;
    padding-top: 2vw;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from{top: -100vw;}
    to{top: 0vw;}
}
/* end of video styling*/

 /*slideshow styling*/
 #slideshow_background{
    background: rgba(255, 255, 255, 0.35);
 }

 .mySlides{
    display: none;/*prevent images from being displayed*/
 }

 #slideshow_container{
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
 }

 #slideshow_container a{
    text-decoration: none; /*remove underline*/
 }

.slideshow_img{
    vertical-align: middle; /*centers images within slideshow container*/
    height: auto; /*height of images is automatically adjusted, so they'll be shown in real size*/
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75); /*shadow around images*/
    width: 100%;
}

.previous,
.next{
    cursor: pointer;
    position: absolute; /* buttons positioned relative to the slideshow container*/
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1,5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next{
    right: 0;
    border-radius: 0 3px 3px 0;
}

.next:hover,
.previous:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.text{
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0.25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active,
.dot:hover{
    background-color: black;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade; /*for small screens*/
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity:  0.4;}
    to{opacity: 1;}
}

@keyframes fade {
    from{opacity: 0.4;}
    to{opacity: 1;}
}

* { /*this is unversal selector for all elements*/
    box-sizing: border-box; 
}

/*Columns styling*/
.Column_1{
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #41B3A3;
}

@media  screen and (max-width: 576px) {
    .Column_1{
        overflow: auto;
    }
}

.Column_2{
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #85dcb8;
}

.Column_tall{
    padding-top: 3.5%;
    height: 500px;
}

.row:after{
    content: "";/* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table;
    clear: both;/* This clears any other elements from floating on the left or the right of an element */
}

/*END OF TABLE STYLING*/

/*Contact form styling*/

.Pop_up_button{
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: whitesmoke;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from{right: -40vw;}
    to{right: 1.75vw;}
}

@-webkit-keyframes movePopup{
    from{right: -40vw;}
    to{right: 1.75vw;}
}

.form-popup{
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 0.5vw;
    right: 0.5vw;
}

.form-container{
    max-width: 49vw;
    padding: 1vw;
    background-color: whitesmoke;
}

.form-container input[type=text]{
    width: 100%;
    padding: 0.93vw;
    margin: 0.6vw 0 0.6vw 0;
    border: none;
    background-color: #A0B57D;
    font-size: 1vw;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover,
.form-container
.btn:hover{
    color: whitesmoke;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

.form-container .btn{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    margin-bottom: 1vw;
}

.form-container .cancel{
    background-color: black;
    color: whitesmoke;
    border-color: gray;
}

.form-container .cancel:hover{
    color: whitesmoke;
    background-color: darkgreen;
    transition-duration: 1s;
    -webkit-animation-duration: 1s;
    border-color: black;
}

@media screen and (max-width: 527px){
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width:660px){
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width:799px){
    p {
        font-size: 2.75vw;
    }
}

@media screen and (max-width: 800px) and (max-width:924px){
    p {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 925px) and (max-width:1050px){
    p {
        font-size: 2.25vw;
    }
}

@media screen and (max-width: 1051px) and (max-width:1310px){
    p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 1311px) and (max-width:1535px){
    p {
        font-size: 1.75vw;
    }
}

@media screen and (max-width: 1536px) and (max-width:2269px){
    p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 2270px){
    p {
        font-size: 1.35vw;
    }
}

@media screen and (max-width:1080px) {
    .navbar a{
        width: 20%;
        font-size: 2.5vw;
    }
}

@media screen and (max-width:1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text{
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1725px) {
    .Column_1{
        height: 550px;
    }

    .Column_2{
        height: 550px;
    }
}

@media screen and (min-width: 2000px){
    h1{
        margin-top: 0px;
    }
}

