body{
    margin: 0%; /*to ensure site displays alll the way to the edge of the screen*/
}

/*heading 1 element*/
h1{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3%; /*small margin above h1 elements*/
    color: black;
}

h1:hover{
    filter: brightness(105%); /*makes h1 a little bit more bright than hover*/
    transform: scale(1.15);
    transition: transform 0.5s;
}

/*end of heading 1 element styling*/

/*Portfolio title text styling*/
.white-text{
    color: beige;
}

/*paragraph styling*/
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    letter-spacing: 1.5px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover{
    transition: transform 1s;
    transform: scale(1.03);
}

/*End of paragraph styling*/

/*Center text styling (quotes, github, footer*/
.center{
    text-align: center;
}

.center:hover{
    transition: transform 1.5s;
    transform: scale(1.03);
}
/* end of center text styling*/

/*Anchor elements styling*/
a{
    color: blue; /*all links are blue*/
}

/*quotation styling*/
q{
    font-style: italic;
    font-weight: bold;
}

/*Image styling*/

img{
    filter: brightness(50%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

img:hover{
    filter: brightness(100%);
    transition: transform 1.5s;
    transform: scale(1.15);
}

/*Media rule is used to ensure accurate display on different types of devices*/
@media screen and (max-width:576px){
    img{
        height: 100px;
        margin-top: 150px;
    }
}

/*footer styling*/
footer{
    background-color: whitesmoke;
}

/*End of general styling*/

/*Navbar styling*/

.navbar{
    overflow: hidden;/*nothing can be on the top of navbar*/
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}
/*for animation effect on the navbar*/
@keyframes moveNav {
    from{left: -100vw;}
    to{left: 0vw;}
}

.navbar a{
    float: left;
    display: block;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

@keyframes moveNavText {
    from{top: -100vw;}
    to {top: 0vw;}
}

/* for smaller navbar links on small display devices*/
@media  screen and (max-width: 576px) {
    .navbar a{
        width: 25%;
        font-size: 12px;
    }
}

/*Navbar hover styling*/

.navbar a:hover{
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}

/*navbar home buttom*/

.navbar a.active{
    background-color: darkgray;
}

/*Video styling*/

#Hacker_video {
    position: fixed;
    right: 0; /*no space on the right a bottom*/
    bottom: 0;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%; 
    z-index: -1; /* to place video behind all elements*/
}

@media  screen and (max-width: 576px) {
    #Hacker_video{
        display: none;
    }
}

/*for styling text on the video*/
.Video_text {
    background: rgba(0,0,0,0.5);
    color: whitesmoke;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from{top: -100vw;}
    to{top: 0vw;}
}
/* end of video styling*/

* { /*this is unversal selector for all elements*/
    box-sizing: border-box; 
}

/*Columns styling*/
.Column_1{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #A0B57D;
}

@media  screen and (max-width: 576px) {
    .Column_1{
        overflow: auto;
    }
}

.Column_2{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: darkolivegreen;
}

.Column_tall{
    padding-top: 3.5%;
    height: 450px;
}

.row:after{
    content: "";/* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table;
    clear: both;/* This clears any other elements from floating on the left or the right of an element */
}

/*END OF TABLE STYLING*/

/*Contact form styling*/

input[type="text"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #99B569;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="text"]:hover{
    box-shadow: 0 0 px #00004d inset;/* to create a shadow than box are hovered*/
}

input[type="submit"]{
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"]:hover{
    color: black;
    color: whitesmoke;
    transition: transform 1.5s;
    transform: scale(1.1);
}

form{
    border-radius: 5px;
    background-color: #44502f;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

